/* ------------ awal untuk header ----------- */
body {
    font-family: "Lucida Grande";
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

a {
    text-decoration: none;
}

.logo {
    width: 160px;
    margin-top: 20px;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-right {
    float: right;
}

.header-left {
    float: left;
    margin-right: -25px;
}

.header-left a {
    font-family: "Tahoma";
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-left a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.fa {
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}

.menu-icon {
    color: white;
    float: left;
    padding: 25px 0;
}
/* -------- akhir untuk header ---------- */

/*ini yang main tambahan*/
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
    
.main{
    height: 500px;
}
/*judul di main tambahan*/
.main-title{
    border-bottom : 2px solid #dee7ee;
    width : 1400px
}

/*box isian nama*/
.nama{
    height : 20px;
    margin-bottom : 10px;
    width : 300px;
    border: 2px solid black;
}

/*box isian email*/
.email{
    height : 20px;
    margin-bottom : 10px;
    width : 300px;
    border: 2px solid black;
}

/*box isian pertanyaan*/
.tanya{
    width : 500px;
    border: 2px solid black;
}

/*tombol kirim*/
.ask-submit{
    width : 500px;
    height: 50px;
    font-size : 20px;
    font-family : times new roman;
    background-color : #dee7ec;
    box-shadow : 0 5px black;
}

/*animasi tombol kirim*/
.ask-submit:hover{
    cursor : pointer;
}

.ask-submit:active{
    box-shadow : none;
    position : relative;
 top: 5px;
}

/*ini adalah footer*/
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
/*akhir dari footer*/
